* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background-image: url("GImages/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.centertext {
   width:900px;
    margin: 50px auto;
}

.centertext h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(78, 70, 70);
    font-weight: bold;
    animation: textanimation 1s ease-in-out;
}

@keyframes textanimation {
    0% {
        letter-spacing: 10px;
    }
    100% {
        letter-spacing: 1px;
    }
}

.row{
    
    width:1100px;
}
#mainId{
    padding-left:10px;
    padding-top: 5px;
     height:150px;
     width:500px;

}

